.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 6rem;
}

.footer img{
    width: 6rem;
}

.linkedin{
    margin-bottom: 2rem;
}